body {
  background:gray;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
}
Header, Nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background:white;
  text-align: center;
}
section{
  background-color:white;
  width: 450px;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
  float: left;

}
article{
  background-color:gray;

  color:black;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}
aside{
  background-color: white;
  width: 450px;
  height: 400px;
  padding: 10px;
  border: 1px solid gray;
  float: right;
  text-align: center;

}
footer{
  padding: 20px;
  margin-top: 450px;
  color: #333;
  background:white;
  text-align: center;
  

}
h1, h2 ,h3
  {
    display: inline-block;
    font-size: 20px;
    text-align: center
    
  }
  div, P
  {
    background-color:white;
    color:black;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
  }
.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 960px;
  background-color: gray;
}